body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

div {
  background-color: rgb(245, 177, 240);
  padding: 10px;
}
img {
  width: 100px;
}
button {
  background-image: linear-gradient(rgb(143, 91, 216), rgb(85, 13, 168));
  color: white;
}
button:hover {
  cursor: pointer;
}
